body {

    padding: 0;

    margin: 0;

    background-color: #040D12;
;

}

#login {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 100vh;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.card {

    background-color:#183D3D;

    padding: 40px;

    border-radius: 2px;

    width:280px;

}

.card-header {

    padding-bottom: 50px;

    opacity: 0.8;

    color: #93B1A6;

}

.card-header::after {

    content: "";

    width: 70px;

    height: 1px;

    background-color: #93B1A6;

    display: block;

    margin-top: -17px;

    margin-left: -5px;

    margin-bottom: -15%;

}

.card-content {

    display: flex;

    flex-direction: column;

    padding:10px 0;

}

.card-footer {

    display: flex;

    flex-direction: column;

}

.card-footer .submit{

    width: 100%;

    height: 40px;

    background-color: #a13854;

    border:none;

    color:#e1e1e1;

    margin: 10px 0;

}

.card-footer a {

    text-align: center;

    font-size: 12px;

    opacity: 0.8;

    color: #fff;

    text-decoration: none;

}
h2 {
    font-family: poppins;
    text-align: start;
}
p{
    color:#93B1A6;
    margin-top: 10%;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color:#5C8374;
    color: white;
    font-weight: bold;
    
}

.btnEnviar {
    display: block;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
  }

form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 10px;
    height: 20px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    font-family: poppins;   
}

.radio{
    color:#93B1A6;
}

.form-control {
    font-family: poppins;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 0.1;
    padding-left: 23%;
  }

p{
    font-family: poppins;
    line-height: 0.1;
    font-weight: bold;
    font-size: 1.5rem;
    
}